{% extends "roomManager/base.html" %}
{% load staticfiles %}

{% block title %}
支付提示页面-酒店自助入住终端
{% endblock %}

{% block other_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/QueryCenterStyle.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}">
{% endblock %}

{% block other_script %}
<script type="text/javascript" src = "{% static "js/bootstrap-select.js" %}" ></script>
{% endblock %}


{% block other_breadcrumb_ol %}

{% endblock %}

<!-- 左侧控制台 -->
{% block left_content %}
<div class="col-sm-3 col-md-2 sidebar">
	<br>
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 查询中心</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if queryByRoomType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomType" %}">按客房类型查询</a></li>
					<li {% if queryByFloorId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByFloorId" %}">按楼层查询</a></li>
					<li {% if queryByBedType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByBedType" %}">按床铺类型查询</a></li>
					<li {% if queryByRoomId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomId" %}">按房间号查询</a></li>
				</ul>
			</div>
	</div>

{% if user.permission > '0' %}
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 房间管理</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if myRoom %}class="compare_active" {% endif %} >
							<a href="{% url "roomManager:myRoom" %}">已定查看</a>
					</li>
					<li {% if checkOut %}class="compare_active" {% endif %}>
						<a href="{% url "roomManager:checkOut" %}">退房管理</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="panel LeftContent_panel">
				<div class="panel-heading">
					<p><span class="glyphicon glyphicon-align-right"></span>个人信息管理</p>
				</div>
				<div class="panel-body QueryCenter_Pbody">
					<ul style="padding-left: 15px;">
						<li {% if MyInf %}class="compare_active" {% endif %} >
								<a href="{% url "accounts:accounts_listMyInf" %}">个人信息查看</a>
						</li>
						{% if user.permission == '2' %}
						<li {% if updateInf %}class="compare_active" {% endif %}>
								<a href="{% url "accounts:accounts_updateInf" %}">个人基本信息修改</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
{% endif %}
</div>
{% endblock %}

<!-- 右侧控制台 -->
{% block right_content %}
{% if status == 'balance_not_enough' %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default Collapse_content">
        <!-- -->
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-align-right"></span> 提示余额不足
                </a>
              </h4>
          </div>

          <div class="panel-collapse collapse in RightContent_panel" id="collapseOne">
						<div class="panel-body">
								<div class="tab-content" style="margin-bottom:20px;">
                				<!-- 指标查询 -->
											<div class="tab-pane active">
												<br>
												<br>
														<div class="container">
															<div class="row">
																<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
																		<div class="well">
																			<h2 class="text-success text-center">总共需要支付{{cost}}元</h2>
																			<h1 class="text-success text-center">余额不足，请<a href="{% url "roomManager:addBalance"%}">充值！</a></h1>

                                      <h1 class="text-success text-center">以下是您的房间信息</h1>
																		</div>
																</div>
															</div>
														</div>

                            <form class="" role="form"  method="post">
  														{% csrf_token %}
  													<div class="row Query_table">
  															<div class="col-md-12 border_style">
                                  <table id="Day_table_id" class="table table-bordered table-hover">
  																	<thead>
  																		<tr>
  																			  <th>楼层号</th>
                                          <th>房间号</th>
                                          <th>房间类型</th>
                                          <th>房价({{roomsession.price_unit}})</th>
                                          <th>共计总价(元)</th>
  																		</tr>
  																	</thead>

  																	<tbody>
  																			<tr>
  																				<td>
  																					 <p>{{roomsession.floorid}}</p>
  																				</td>

  																				<td>
  																					 <p>{{roomsession.roomid}}</p>
  																				</td>

                                          <td>
  																					<p>{{roomsession.roomtype}}</p>
  																				</td>

  																				<td>
  																					<p>{{roomsession.price}}</p>
  																				</td>

  																				<td>
  	                                        <p>{{cost}}</p>
  																				</td>
  																			</tr>
  																	</tbody>
  																</table>
  															</div>
  													</div>
  													</form>

											</div>
								</div>
						</div>
					</div>
			</div>
		</div>
</div>
{% elif status == 'success' %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default Collapse_content">
        <!-- -->
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-align-right"></span> 付款提示成功
                </a>
              </h4>
          </div>

          <div class="panel-collapse collapse in RightContent_panel" id="collapseOne">
						<div class="panel-body">
								<div class="tab-content" style="margin-bottom:20px;">
                				<!-- 指标查询 -->
											<div class="tab-pane active" id="Query_BedType">
												<br>
												<br>
														<div class="container">
															<div class="row">
																<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

																		<div class="well">
																			<h2 class="text-success text-center">总共支付{{cost}}元</h2>
																			<h2 class="text-success text-center">支付成功！</h2>
                                      <h2 class="text-success text-center">请取走您的房卡和发票！</h2>
																		</div>

																</div>
															</div>
														</div>
											</div>
								</div>
						</div>
					</div>

			</div>
		</div>
</div>
{% endif %}

{% endblock %}
