{% extends "roomManager/base.html" %}
{% load staticfiles %}

{% block title %}
按房间号查询-查询中心
{% endblock %}

{% block other_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/QueryCenterStyle.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}">
{% endblock %}

{% block other_script %}
<script type="text/javascript" src = "{% static "js/bootstrap-select.js" %}" ></script>

<script type="text/javascript" src = "{% static "js/mydate.js" %}" ></script>
{% endblock %}

{% block other_breadcrumb_ol %}
{% endblock %}

<!-- 左侧控制台 -->
{% block left_content %}
<div class="col-sm-3 col-md-2 sidebar">
	<br>
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 查询中心</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if queryByRoomType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomType" %}">按客房类型查询</a></li>
					<li {% if queryByFloorId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByFloorId" %}">按楼层查询</a></li>
					<li {% if queryByBedType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByBedType" %}">按床铺类型查询</a></li>
					<li {% if queryByRoomId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomId" %}">按房间号查询</a></li>
				</ul>
			</div>
	</div>

{% if user.permission > '0' %}
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 房间管理</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if myRoom %}class="compare_active" {% endif %} >
							<a href="{% url "roomManager:myRoom" %}">已定查看</a>
					</li>
					<li {% if checkOut %}class="compare_active" {% endif %}>
						<a href="{% url "roomManager:checkOut" %}">退房管理</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="panel LeftContent_panel">
				<div class="panel-heading">
					<p><span class="glyphicon glyphicon-align-right"></span>个人信息管理</p>
				</div>
				<div class="panel-body QueryCenter_Pbody">
					<ul style="padding-left: 15px;">
						<li {% if MyInf %}class="compare_active" {% endif %} >
								<a href="{% url "accounts:accounts_listMyInf" %}">个人信息查看</a>
						</li>
						{% if user.permission == '2' %}
						<li {% if updateInf %}class="compare_active" {% endif %}>
								<a href="{% url "accounts:accounts_updateInf" %}">个人基本信息修改</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
{% endif %}
</div>
{% endblock %}

<!-- 右侧控制台 -->
{% block right_content %}
<div class="col-sm-7 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default Collapse_content">
        <!-- -->
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-align-right"></span> 查询中心/房间列表
                </a>
              </h4>
          </div>

					<div class="panel-collapse collapse in RightContent_panel" id="collapseOne">
						<div class="panel-body">
                <ul class="nav nav-tabs" role="tablist" id="tab-list" style="padding-left: 52px;">
									<li class="active"><a href="#Query_RoomId" role="tab" data-toggle="tab">按房间号</a></li>
                </ul>

								<div class="tab-content" style="margin-bottom:20px;">
											<!-- 按房间号查询-->
										<div class="tab-pane active" id="Query_RoomId">
											<div class="row">
													<div class="col-md-1"></div>
													<div class="col-md-4 Query_select">
															<!-- 指标查询 多选 -->
															<div class="form-group">
															<div class="navbar-header Query_title">
															<span class="glyphicon glyphicon-eye-open"></span>
															<label>入住时间 :</label>
															</div>
																<input class="QC_SelectStyle" value="{{now}}" type="text" name="starttime" id= "starttime_id" onfocus="MyCalendar.SetDate(this)"  >
															</div>
													</div>

													<div class="col-md-4 Query_select">
															<!-- 指标查询 多选 -->
															<div class="form-group">
															<div class="navbar-header Query_title">
															<span class="glyphicon glyphicon-eye-open"></span>
															<label>退房时间 :</label>
															</div>
																<input class="QC_SelectStyle" value="{{next_day}}" type="text" name="endtime" id= "endtime_id" onfocus="MyCalendar.SetDate(this)" onload="getdates()">
																&nbsp;&nbsp;&nbsp;<a class="btn " type="submit" onclick="selectDate()">确定</a>
															</div>
													</div>
											</div>
												<div class="row">
														<div class="col-md-1"></div>
														<div class="col-md-5 Query_select">
																<!-- 指标查询 多选 -->
																<div class="form-group">
																<div class="navbar-header Query_title">
																<span class="glyphicon glyphicon-eye-open"></span>
																<label>请选择房间号：</label>
																</div>
																	<select class="QC_SelectStyle" onchange="onSelect_roomId()" id="room_id" name="roomid">
																	<option value="全选" selected="select">全选</option>
																	<option value="101">101</option>
																	<option value="104">104</option>
																	<option value="202">202</option>
																	<option value="303">303</option>
																	<option value="404">404</option>
																	</select>
																</div>
														</div>
												</div>

												<div class="row Query_table">
														<div class="col-md-12 border_style">
															<table id="queryByRoomId_table_id" class="Quato_table_class table table-bordered ">
																<thead>
																	<tr>
																		 <th>房间类型</th>
																		 <th>楼层号</th>
																		 <th>房间号</th>
																		 <th>床铺类型</th>
																		 <th>房间介绍</th>
																		 <th>入住操作</th>
																	</tr>
																</thead>

																<tbody>
																	{% for item in room_list %}
																		<tr>

																			<td>
																				 <p>{{item.roomtype}}</p>
																			</td>

																			<td>
																				 <p>{{item.floorid}}</p>
																			</td>

																			<td>
																				 <p>{{item.roomid}}</p>
																			</td>

																			<td>
																				<p>{{item.bedtype}}</p>
																			</td>

																			<td>
																				<p><a class="text"  role="button" onclick="viewDetail('{{item.roomdescripte}}')">
																						<i class="glyphicon glyphicon-info-sign"></i>详细查看
																				</a></p>
																			</td>

																			<td>
																				 <a class= "btn" onclick ="clickRButton('{{item.id}}')" >入住</a>
																			</td>
																		</tr>
																	{%endfor%}

																	{% for item in room_list2 %}
																		<tr>

																			<td>
																				 <p>{{item.roomtype}}</p>
																			</td>

																			<td>
																				 <p>{{item.floorid}}</p>
																			</td>

																			<td>
																				 <p>{{item.roomid}}</p>
																			</td>

																			<td>
																				<p>{{item.bedtype}}</p>
																			</td>

																			<td>
																				<p><a class="text"  id="" role="btn" onclick="viewDetail('{{item.roomdescripte}}')">
																						<i class="glyphicon glyphicon-info-sign"></i>详细查看
																				</a></p>
																			</td>

																			<td>
																				 <a class= "btn" onclick ="clickRTButton('{{item.id}}')" >入住</a>
																			</td>
																		</tr>
																	</div>
																	{%endfor%}
																</tbody>
															</table>
														</div>
												</div>
										</div>

								</div>
						</div>
					</div>
			</div>
		</div>
</div>


<script type="text/javascript">
function onSelect_roomId()//根据指标名字刷选
{
		var room_id = document.getElementById("room_id");
		var table = document.getElementById("queryByRoomId_table_id");

		//table.deleteRow(2);
	//	x.options[x.selectedIndex].text = "修改";
		if(room_id.options[room_id.selectedIndex].value=="全选")
		{
			for(i=1;i<table.rows.length; ++i)
				table.rows[i].style.display = table.rows[0].style.display;
		}
		else
		{
			i = 1;
			{% for item in room_list %}
				if("{{item.roomid}}" != room_id.options[room_id.selectedIndex].value)
						table.rows[i].style.display = "none";
				else {
							table.rows[i].style.display = table.rows[0].style.display;
				}
				++i;
			{% endfor %}
		}
}

function selectDate()
{
	var starttime = document.getElementById("starttime_id").value;
	var endtime = document.getElementById("endtime_id").value;
	if(starttime == '' || endtime == '')
	{
			alert("时间未选择");
			return ;
	}
	if(starttime >= endtime)
	{
			alert("入住时间必须小于退房时间");
			return ;
	}

	window.location.href = "{% url 'roomManager:queryByRoomId' %}" + '?startdate=' + starttime + '&enddate=' + endtime ;
}

function clickRButton(index)
{
	var starttime = document.getElementById("starttime_id").value;
	var endtime = document.getElementById("endtime_id").value;
	if(starttime == '' || endtime == '')
	{
			alert("时间未选择");
			return ;
	}
	if(starttime >= endtime)
	{
			alert("入住时间必须小于退房时间");
			return ;
	}
	//window.location.href = "{% url 'roomManager:checkIn' %}" + '?index=' +index + '&starttime=' + starttime + '&endtime=' + endtime ;
	window.location.href= "../roomManager/checkIn11/" + "?index=" +index + "&starttime=" + starttime + "&endtime=" + endtime;
}

function viewDetail(messages)
{
	alert(messages.replace(/;/g, "\n"));
}
</script>

{% endblock %}
