{% extends "roomManager/base.html" %}
{% load staticfiles %}
{% block title %}修改密码-酒店自助入住管理系统{% endblock %}

{% block other_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/QueryCenterStyle.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}">
{% endblock %}

{% block other_script %}
<script type="text/javascript" src = "{% static "js/bootstrap-select.js" %}" ></script>
{% endblock %}

<!-- 左侧控制台 -->
{% block left_content %}
<div class="col-sm-3 col-md-2 sidebar">
	<br>
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 查询中心</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if queryByRoomType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomType" %}">按客房类型查询</a></li>
					<li {% if queryByFloorId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByFloorId" %}">按楼层查询</a></li>
					<li {% if queryByBedType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByBedType" %}">按床铺类型查询</a></li>
					<li {% if queryByRoomId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomId" %}">按房间号查询</a></li>
				</ul>
			</div>
	</div>

{% if user.permission > '0' %}
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 房间管理</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if myRoom %}class="compare_active" {% endif %} >
							<a href="{% url "roomManager:myRoom" %}">已定查看</a>
					</li>
					<li {% if checkOut %}class="compare_active" {% endif %}>
						<a href="{% url "roomManager:checkOut" %}">退房管理</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="panel LeftContent_panel">
				<div class="panel-heading">
					<p><span class="glyphicon glyphicon-align-right"></span>个人信息管理</p>
				</div>
				<div class="panel-body QueryCenter_Pbody">
					<ul style="padding-left: 15px;">
						<li {% if MyInf %}class="compare_active" {% endif %} >
								<a href="{% url "accounts:accounts_listMyInf" %}">个人信息查看</a>
						</li>
						{% if user.permission == '2' %}
						<li {% if updateInf %}class="compare_active" {% endif %}>
								<a href="{% url "accounts:accounts_updateInf" %}">个人基本信息修改</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
{% endif %}
</div>
{% endblock %}

{% block right_content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default Collapse_content">
        <!-- -->
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-align-right"></span> 个人密码管理/修改密码
                </a>
              </h4>
          </div>

					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
								{% if status == 'passwd_err' %}
									<div class="well">
										<h2 class="text-danger text-center">密码错误</h2>
									</div>
								{% elif status == 're_err' %}
									<div class="well">
										<h2 class="text-warning text-center">密码重复错误</h2>
									</div>
								{% elif status == 'success' %}
									<div class="well">
										<h2 class="text-success text-center">修改成功</h2>
									</div>
								{% endif %}
								<form method="POST" role="form" class="form-horizontal">
									{% csrf_token %}
									<h1 class="form-signin-heading text-center">修改密码</h1>
									<div class="form-group">
										<label for="id_old" class="col-md-3 control-label">原始密码：</label>
										<div class="col-md-9">
											<input type="password" class="form-control" required name="old" id="id_old">
										</div>
									</div>
									<div class="form-group">
										<label for="id_new" class="col-md-3 control-label">新密码：</label>
										<div class="col-md-9">
											<input type="password" class="form-control" required name="new" id="id_new">
										</div>
									</div>
									<div class="form-group">
										<label for="id_new_re" class="col-md-3 control-label">重复密码：</label>
										<div class="col-md-9">
											<input type="password" class="form-control" required name="new_re" id="id_new_re">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-4 col-md-offset-4">
											<button class="btn btn btn-primary btn-block" type="submit">提交</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

			</div>
		</div>
</div>


{% endblock %}
