{% extends "roomManager/base.html" %}
{% load staticfiles %}

{% block title %}
修改信息-酒店自助入住终端
{% endblock %}

{% block other_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/QueryCenterStyle.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}">
{% endblock %}

{% block other_script %}
<script type="text/javascript" src = "{% static "js/bootstrap-select.js" %}" ></script>
{% endblock %}

{% block other_breadcrumb_ol %}
{% endblock %}

<!-- 左侧控制台 -->
{% block left_content %}
<div class="col-sm-3 col-md-2 sidebar">
	<br>
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 查询中心</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if queryByRoomType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomType" %}">按客房类型查询</a></li>
					<li {% if queryByFloorId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByFloorId" %}">按楼层查询</a></li>
					<li {% if queryByBedType %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByBedType" %}">按床铺类型查询</a></li>
					<li {% if queryByRoomId %}class="compare_active" {% endif %}><a href="{% url "roomManager:queryByRoomId" %}">按房间号查询</a></li>
				</ul>
			</div>
	</div>

{% if user.permission > '0' %}
	<div class="panel LeftContent_panel">
			<div class="panel-heading">
				<p><span class="glyphicon glyphicon-align-right"></span> 房间管理</p>
			</div>
			<div class="panel-body QueryCenter_Pbody">
				<ul style="padding-left: 15px;">
					<li {% if myRoom %}class="compare_active" {% endif %} >
							<a href="{% url "roomManager:myRoom" %}">已定查看</a>
					</li>
					<li {% if checkOut %}class="compare_active" {% endif %}>
						<a href="{% url "roomManager:checkOut" %}">退房管理</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="panel LeftContent_panel">
				<div class="panel-heading">
					<p><span class="glyphicon glyphicon-align-right"></span>个人信息管理</p>
				</div>
				<div class="panel-body QueryCenter_Pbody">
					<ul style="padding-left: 15px;">
						<li {% if MyInf %}class="compare_active" {% endif %} >
								<a href="{% url "accounts:accounts_listMyInf" %}">个人信息查看</a>
						</li>
						{% if user.permission == '2' %}
						<li {% if updateInf %}class="compare_active" {% endif %}>
								<a href="{% url "accounts:accounts_updateInf" %}">个人基本信息修改</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
{% endif %}
</div>
{% endblock %}

<!-- 右侧控制台 -->
{% block right_content %}
<div class="col-sm-7 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default Collapse_content">
        <!-- -->
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="glyphicon glyphicon-align-right"></span> 个人信息管理/我的信息
                </a>
              </h4>
          </div>

					<div class="panel-collapse collapse in RightContent_panel" id="collapseOne">
						<div class="panel-body">

								<div class="tab-content" style="margin-bottom:20px;">
											<!-- 床铺类型查询 -->
											<div class="tab-pane active" >
                          <form method="POST" role="form" class="form-horizontal">
                              {% csrf_token %}
                              <label class="col-md-offset-5"> 基本信息</label>
                              <div class="form-group">
                                  <span class="help-block"></span>
                                  <label for="id_user_name" class="col-md-2 control-label">姓&nbsp;&nbsp;&nbsp;名&nbsp;：</label>
                                  <div class="col-md-3">
                                    <input type="text" disabled value = "{{user.nickname}}" class="form-control" id="id_user_name" required name="username" >
                                  </div>

                                  <label for="id_sex" class="col-md-2 control-label">性&nbsp;&nbsp;&nbsp;别&nbsp;：</label>
                                  <div class="col-md-3">
                                    <input type="text" disabled value = "{{user.sex}}" class="form-control" id="id_user_name" required name="sex" >
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label for="id_phonenum" class="col-md-2 control-label">电话号码：</label>
                                  <div class="col-md-3">
                                    <input type="text" value = "{{user.phonenummber}}" class="form-control" id="id_phonenum" required name="phonenummber" >
                                  </div>
                                  <label for="id_cardnumber" class="col-md-2 control-label">身份证号：</label>
                                  <div class="col-md-3">
                                    <input type="text" disabled value = "{{user.user.username}}" class="form-control" id="id_cardnumber" required name="cardnumber" >
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label for="id_usertype" class="col-md-2 control-label">用户类别：</label>
                                  <div class="col-md-3">
                                    <input type="text" disabled value = "{{user.permission}}" class="form-control" id="id_usertype" required name="usertype" >
                                  </div>
                                  <label for="id_balance" class="col-md-2 control-label">账户金额：</label>
                                  <div class="col-md-3">
                                    <input type="text" disabled value = "{{userbalance.balance}}" class="form-control" id="id_balance" required name="balance" >
                                    <span class="help-block"></span>
                                  </div>
                              </div>

															<div class="form-group">
																<span class="help-block"></span>
																<div class="col-md-2 col-md-offset-4 ">
																	<button class="btn btn btn-primary btn-block" type="submit">提交修改</button>
																</div>
																{% if user.permission == '2' %}
																<div class="col-md-2 ">
																	<a class="btn btn btn-primary btn-block" href="{% url "roomManager:addBalance" %}" role="button" target= "_blank"> 账户金额充值</a>
																</div>
																{% endif %}
															</div>
                          </form>
											</div>
								</div>
						</div>
					</div>
			</div>
		</div>
</div>

{% endblock %}
