html,body{    
    height: 100%;
    margin:0px;
}

body{
    background-color: #fff; 
    color: #5a5a5a;
    /* 导航条与主内容模块的距离 */
    padding-top: 50px;
    padding-bottom: 40px;
}

/* 字体样式: '仿宋', */
/* 常识实现选择“字体”的功能 */
body, a, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { 
    font-family: 'Microsoft YaHei','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #000;  /* #000:black; */
}

#Water_main{
	position: relative;            
    height: 100%;
    width: 100%;
    /* 浮动在页面左边大小为215px的背景色 
    background: url('../images/icons/bg_left.png') repeat-y left;
    background-size: 215px;
    */
}

#Water_main .a{
	color: #fff;
}

.main {
    padding: 20px;
}

.main .main_page-header {
    padding-top: 30px;
}

.HomeTitle{
    display: block;
    text-align: center;

    color: #4b0091;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.page-header{
    padding-top: 0px;
}

.label_sytle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    color: #4b0091;
}


#user_info{
	height: 35px; 
    float: right;  
    padding-top: 0px;
}

#user_info .info{
    padding-top: 0px;
}

#user_info .name{
    padding-top: 0px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #24BAE0;/*azul un poco mas claro*/  

    padding-left: 128px;
}

.timer{
    padding-top: 2px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 50px;
}

#user_info .actions{
    padding-left: 70px;
}

#user_info .actions a{        
    font-size: 12px;    
    padding: 0 1px;
    margin: 0 1px;
    color: #24BAE0;
    background-color: #272727;
    border: 2px solid #3c3c3c;
    border-radius: 3px;
    
}

#user_info .actions .glyphicon{
    font-size: 8px;
    color: #24BAE0;
}

#user_info .actions .separator{            
    padding: 0px 0px;
    color: #bdbec0;
}

#user_info .actions .btn{

}

.control_navbar_form{
	padding-top: 0px;
}

.breadcrumb{
    margin-bottom: 0px;
}

.control_breadcrumb{
    border-radius: 0px;
    /*
	margin-left: 225px;
	*/
    background-color: #E0E0E0;
    font-size: 14px;
}

.control_breadcrumb .li .a{

}

.set_fontSize{
    font-size: 18px;
    font-weight: bold;
    color: #fff;    /* #000: black; */
    border-radius: 10px;
}

.set_DownMenuFont{
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu{
    background-color: #e0e0e0;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 50px;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ddd;
    border-right: 1px solid #eee;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: -20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.dropdown-menu > li > a{
    font-weight: bold;
    margin: 5px;
}

/* 导航条高度 */
.navbar-brand{
    height: 65px;
    padding: 8px 15px;
}

.navbar-nav{
    padding-left: 18px;
}

.navbar-nav > li > a{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;

}

.collapse .navbar-nav > .active > a{  
    
    margin: 2px;
    border-radius: 8px;
}

.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}

.set_navbarColor{
    /*
    background: #000;
    */
}

.carousel{
    height:400px;
    background-color:#000;  
    margin-bottom: 60px;
}   


.Water_left_main{
    margin-top:13px; 
    margin-left: 65px;
    position: relative;
}

.Water_modul_left{
    margin: 0px;
    margin-top: 10px;
}

.Water_modul_left .btn{
    margin-left: 28px;
}

.set_Center{
    padding-right: 25px;
    padding-bottom: 25px;
}

.Water_modul_bgColor{
    color: #fff;
}

.Water_modul_bgColor .SQ{
    background-color: #a3d9e9;
    color: #000;
}

.Water_modul_bgColor .SQ_child_1{
    background-color: #a3d9e9;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .PE_child_1{
    background-color: #c2ddb3;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .OE_child_1{
    background-color: #e9e3c2;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .ME_child_1{
    background-color: #f2ddc9;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .FS_child_1{
    background-color: #d1cbb4;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .AS_child_1{
    background-color: #d1c6d1;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .CG_child_1{
    background-color: #d7d8d9;
    color: #000;
    padding-right: 10px;
}

.Water_modul_bgColor .ES_child_1{
    background-color: #c8d2c7;
    color: #000;
    padding-right: 10px;
}


.SQ_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #a3d9e9;
    color: #000;
    text-align: center;

}

.PE_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #c2ddb3;
    color: #000;
    text-align: center;

}

.OE_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #e9e3c2;
    color: #000;
    text-align: center;

}

.ME_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #f2ddc9;
    color: #000;
    text-align: center;

}

.FS_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #d1cbb4;
    color: #000;
    text-align: center;

}

.AS_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #d1c6d1;
    color: #000;
    text-align: center;

}

.CG_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #d7d8d9;
    color: #000;
    text-align: center;

}

.ES_child{
    margin-top:13px; 
    margin-left: 75px;
    margin-right: 70px;
    border-radius: 8px;
    position: relative;
    background-color: #c8d2c7;
    color: #000;
    text-align: center;

}

.Water_modul_bgColor .PE{
    background-color: #c2ddb3;
    color: #000;
}

.Water_modul_bgColor .OE{
    background-color: #e9e3c2;
    color: #000;
}

.Water_modul_bgColor .ME{
    background-color: #f2ddc9;
    color: #000;
}

.Water_modul_bgColor .FS{
    background-color: #d1cbb4;
    color: #000;
}

.Water_modul_bgColor .AS{
    background-color: #d1c6d1;
    color: #000;
}

.Water_modul_bgColor .CG{
    background-color: #d7d8d9;
    color: #000;
}

.Water_modul_bgColor .ES{
    background-color: #c8d2c7;
    color: #000;
}

/* 模块子进程 字体样式 例如，SQ：Service Quality 字体的样式 */
.module_font_style{
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #666;
}

.module_number_sytle{
    padding:0px 0px;
    margin: 10px 0px;
    font-size: 120px;
    font-weight: bold;
    color: #0080ff;
}

.select_year{
    color: #ae0000;
}

#Goto{

}

#Answer_Goto{

}

.panel-body{
    background-color: #E0E0E0;
}

.panel-body .btn{
    background-color: #E0E0E0;
    color: #000;
    font-weight: bold;
}

.PanelBody_SQ{
    background-color: #a3d9e9;   
}

.PanelBody_SQ .btn{
    background-color: #a3d9e9;
}

.PanelBody_PE{
    background-color: #c2ddb3;
}

.PanelBody_PE .btn{
    background-color: #c2ddb3;
}

.PanelBody_OE{
    background-color: #e9e3c2;
}

.PanelBody_OE .btn{
    background-color: #e9e3c2;
}

.PanelBody_ME{
    background-color: #f2ddc9;
}

.PanelBody_ME .btn{
    background-color: #f2ddc9;
}

.PanelBody_FS{
    background-color: #d1cbb4;
}

.PanelBody_FS .btn{
    background-color: #d1cbb4;
}

.PanelBody_AS{
    background-color: #d1c6d1;
}

.PanelBody_AS .btn{
    background-color: #d1c6d1;
}

.PanelBody_CG{
    background-color: #E0E0E0;
}

.PanelBody_CG .btn{
    background-color: #d7d8d9;
}

.PanelBody_ES{
    background-color: #c8d2c7;
}

.PanelBody_ES .btn{
    background-color: #c8d2c7;
}


.alert{
    background: #fff;
    color: #000;
    font-size: 15px;
}

.alert .set_module_data{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

/* 设置 “数值” 条的背景色 */
.nav-pills .alert{
    background-color: #fff;  
}

/* 设置 “数值” 右侧数据的背景色 */
.nav-pills .alert .badge{
    background-color: #fff;  
    color: #000;
}

.progress-bar{
    background-color: #9d9d9d;
}

.pull-right{
    margin-right: 5px;
}



/* 设置屏幕满足一定分辨率时，导航条处的功能不现实，而显示三行缩略图 */
@media (min-width: 1000px) {
  .navbar-header {
    float: left;
  }
}



/* footer */
#footer{       
    min-width: 700px; 
    /*width: 100%;*/
    /*position: fixed;*/
    /*bottom: 0px;*/
    background: #E7ECF0;
    color: #000;    
    font-size: 13px;
    height: 40px;   /* footer高度 */          
    text-shadow: 1px 1px 0 #FFFFFF;    
}
#footer .footer_content{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
}
#footer .copy{
    font-size: inherit;   /* 规定：应从父元素继承字体大小 */
    float: left;   
    width: auto;
    line-height: 40px;
}
#footer .auspiciado{
    font-size: inherit;
    line-height: 40px;
    background: url("../img/xxx.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);   /* logo */
    float: right;
    margin-right: 30px;
    padding-right: 0px;   /* 调整右侧字体与屏幕右侧的距离 与logo大小配合使用 */
    vertical-align: bottom;
}

.struct-footer{
    width: 100%;
    background-color: #f5f5f5;
    position: fixed;   /* 使其一直固定在屏幕最底端 */
    bottom: 0px;
}
.struct-left-footer{    
    width: 200px;
    float: left;

}
.struct-right-footer{
    margin-left: 210px;      /* 最底端制作者相关信息栏 左侧边距 */
}

/* modal */
.modal-header{
    margin: 0;
    padding: 8px 10px;
}

.modal-dialog{
    
}

.modal-title{
    font-size: 16px;
    font-weight: bold;
}

.modal-footer .btn{
    font-weight: bold;
    font-size: 15px;
}

.modal_p{   
    font-size: 15px;
    text-indent: 2em;
    color: #000;
    font-weight: bold;
}

.Main_modal_bgColor{
    background-color: #bebebe;
}

.modal_bgColor{
    background-color: #79ff79;
}

.footer_style{
    font-weight: bold;
    padding-right: 10px;
    margin-bottom: 20px;
}

.import_style{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

/* 左侧过滤器 */
.filter_text{
    margin-top: 2px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.Text_style{
    font-weight: bold;
    font-size: 12px;
}

.panel_style{
    margin-top: 13px;
    background-color: #f0f0f0;
}

.title_style{
    font-style: 12px;
    margin: 0px;
}

.checkbox_style{
    background-color: transparent;
    font-style: 25px;
    margin: 0 15px;
    
}


/* 左侧层级菜单 */
/*左侧菜单*/
.sidebar-menu{
    padding-left: 10px;
    border-right: 1px solid #c4c8cb;
}

.sidebar-menu > a{
    text-decoration: none;
}

/*一级菜单*/
.menu-first{
    height: 26px;
    line-height: 26px;
    background-color: transparent;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: transparent;
    color: #2828ff;
}
/*二级菜单*/
.menu-second li a{
    background-color: #f0f0f0;
    height: 25px;
    line-height: 25px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    font-size: 13px;
    text-align: left;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
}
/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align:center;
}
/* 覆盖bootstrap的样式 可控制二级菜单位置*/
.nav-list, .nav-list li a{
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    /*
    font-weight: normal;
    font-family: "宋体";
    */
}

/* 设置图标大小 */
.glyphicon-chevron-right{
    font-size: 12px;
}

.LeftContent_panel{
    border: 2px solid #fff;
    border-radius: 5px;
}

.LeftContent_panel .panel-heading{
    padding-bottom: 0;
    padding-left: 8px; 
    padding-top: 2px;
    text-align: left;
    font-size: 15px;
    color: #000;
    background-color: #f0f0f0;
}

.LeftContent_panel .panel-body{
    padding-top: 3px;
}

.RightContent_panel{
    background-color: #e0e0e0;
}

.RightContent_panel .heading_Main{
    background-color: #acd6ff;
}

.RightContent_panel .panel-body{
    background-color: #fff;
}

.Collapse_content .panel-heading{
    background-color: #d2e9ff;
}

.Collapse_content .panel-heading a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #000;
} 

.Collapse_body ul > li > a{
    
}

/* 选自bootstrap.css */
.nav-tabs {
  border-bottom: 1px solid #3c3c3c;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;

  /* 侯超群 20160306 */
  font-size: 14px;
  font-weight: bold;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    cursor: default;
    border: 2px solid #3c3c3c;
    border-bottom-color: transparent;
/*
    color: #555;
    background-color: #fff;
    
    侯超群 改
*/
    color: blue;
}

/* Tabs */
.feature{
    padding: 30px 0;
}

.feature-heading{
    font-size: 50px;
    color:#2a6496;
    margin-top: 120px;
}

.feature-heading .text-muted{
    font-size: 28px;
    color: #999;
}

.H_ p{
    text-align: center;
}

.H_ .btn_1{
    margin-left: 20px;
}

.H_ .btn_2{
    margin-left: 70px;
}

.Service_style{
    border: 1px solid #e0e0e0;
}

.Service_style .Con_position{
    width: 180px;
    margin: 0 auto;

}

/* 数据分析指标说明 */
.H_Complete{
    font-size: 15px;
    text-align: center;
    padding-left: 15px;
    padding-top: 15px;
}

.H_Complete p{
    text-align: center;
    color: blue;
    font-size: 35px;
}

.H_Complete .btn{
    background-color: #acd6ff;
}

.H_Complete a{
    margin-left: 15px;
    margin-bottom: 35px;
}

.H_Complete .evaluate_sytle{
    font-size: 15px;
    font-weight: bold;

}

.H_Complete .H_select option{
    font-weight: bold;
}

/* icon color */
.icon_blue{
    font-weight: bold;
    color: #0080ff;
}

.icon_green{
    font-weight: bold;
    color: #1afd9c;
}

.icon_red{
     font-weight: bold;
    color: #ff2d2d;   
}

.icon_yellow{
    font-weight: bold;
    color: #ffff37;   
}

/* 主界面常识 bak3 */
.panel_bak3{
    padding-top: 0px;
}

.panel_bak3 .panel-heading{
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
}

.panel_bak3 .panel-heading .bak3_label{
    font-size: 15px;
    margin: 0px;
}

.panel_bak3 .panel-body{
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

.module_button{
    width: 150px;
    margin: 0 auto;
}

.module_button a{
    text-align: center;
    margin-top: 5px;
    background-color: #000;
    font-weight: normal;
}

.Enter_button{
    width: 150px;
    margin: 20px auto;
    background-color: #019858;
}

.Enter_button a{
    font-size: 12px;
    color: #fff;
}

.Enter_button a:hover{
    font-size: 12px;
    font-weight: bold;
    color: #000079;
}

.Service_bg{
    background-color: #a3d9e9;
}

.glyphicon-leaf{
    color: #009100;
}

/* 主页左侧导航条 向左图标 */
.glyphicon-chevron-left{
    font-size: 13px;
    font-weight: normal;
    padding-top: 5px;
}
